body {
    background-color: wheat;
}

h1 {
    font-size: 50px;
    color: darkslategray;
    text-align: center;
}

h2, h3 {
    color: darkslategray;
    text-align: justify;
}

img {
    height: auto;
    width: 500px;
}